@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --cle : 60vw;
    --taille: 1vw;
}

*{
    font-family: 'Poppins';
    margin : 0;
    padding: 0;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--Light-grey);
}

main{
    padding: calc(3*var(--taille));
    border-radius: calc(3*var(--taille));
    background-color: var(--White);
    width: calc(55*var(--taille));
}

fieldset{
    border: none;
    display: flex;
    flex-direction: row;


}

.wrapper{
    display: flex;
    flex-direction: column;
}


.wrapper:has(+ .wrapper){
    margin-right: 2rem;
}


.text-label{
    font-size: calc(1*var(--taille));
    color:var(--Smokey-grey);
    letter-spacing: 0.3rem;
    margin-bottom: 0.3rem;
}

input[type="number"]{
    border: var(--Smokey-grey) 1px solid;
    width: calc(8*var(--taille));
    height: calc(4*var(--taille));
    border-radius: 5px;
    padding: 1vh calc(1.5*var(--taille));
    font-size: calc(2.5*var(--taille));
    color: var(--Off-black);
    font-weight: 600;
    cursor: pointer;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:focus-visible {
    outline: unset;
}


.display{
    color: var(--Purple);
    font-size: calc(5.8*var(--taille));
    font-weight: 800;
    margin-top: -4vh;
}

.display span{
    color: var(--Off-black);
}
#separator{
    border-bottom : var(--Smokey-grey) 1px solid;
    width: max-width;
    position:relative;
    margin: 8vh 0;
}

.btn-calcul{
    border-radius: 100%;
    background-color: var(--Purple);
    width: calc(6.5*var(--taille));
    height: calc(6.5*var(--taille));
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right : 0px;
    bottom: calc(-3.25*var(--taille));
    cursor: pointer;
}

.btn-calcul:hover{
    background-color: var(--Off-black);
}

@media screen and (max-width: 765px ){
    main{
        width: calc(55*var(--taille));
        position: relative;
        height: calc(500px - 20vw);
    }
    :root{
        --taille: 1.4vw;
    }

}

@media screen and (max-width:414px ){

}